/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{font-family: sans-serif;
}
.sumbit{
    color: red;
}
.loginbutton {
    color: blue;
}
.cancelbutton {
    color: pink;
}
.h1{
    background-color: green;
    color: green;
}
#maincontent{
    width: 50%;
    margin: 0 auto;
}
 .title {
    background-color: red;
    padding: 30px;
    margin:50px;
}
.buttonsection{
    background-color: red;
    width: 300px;
}
.edit{
    background-color: green;
    color: #fff;
    padding:15px;
}
.delete{
    background-color: red;
    color: #fff;
}
.mainlist{
    display: inline;
}
.mainist li{
margin-bottom: 25px;    
}
body {
    background-color: gray;
}
h1{
  background-color: red;  
}
h2{
    background-color: red;
}