
    <h1> Homework</h1>
   <ul> 
   <li> 
   <input type= "checkbox">
   <a href="show.html">precalc assignment </a>
   </li>
    <li> 
    <input type= "checkbox">
    <a href="show.html">english assigment </a>
    </li>
    <li>
      <input type= "checkbox">
       <a href="show.html">US History assignment </a>
       </li>
    <li>
      <input type= "checkbox">
      <a href="show.html">criminal justice </a>
      </li>   
    </ul>
    <h2>CHORES</h2>
    <ul>
      <li>
        <input type= "checkbox">
        <a href="show.html">wash the dishes </a>
        </li>
    <li>
      <input type= "checkbox">
      <a href="show.html">sweep </a>
      </li>
  <li>
    <input type= "checkbox">
    <a href="show.html">clean the bathroom </a>
    </li> 
  
  </ul>
    